.App {
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #141519;
}

.star-background {
  margin-top: -5%;
  margin-left: 2%;
  width: 45px;
  height: 45px;
}

.star {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #232f3b;
}

.star-dots {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.stara {
  position: absolute;
  margin-top: -2.3%;
  margin-left: 1.56%;
}

#h1 {
  color: hsl(0, 0%, 100%);
  margin-top: 15%;
}

.card {
  width: 318px;
  height: 360px;
  padding: 20px;
  border: 1px solid hsla(224, 28%, 16%, 0.983);
  border-radius: 20px;
  background-color: #1d242e;
  flex-direction: column;
}

.hidden {
  display: none;
}

#p1 {
  display: flex;
  color: hsl(216, 12%, 54%);
  margin-top: 0%;
  font-size: 14px;
}

.radio-label {
  color: white;
  align-items: center;
  margin-bottom: 10px;
}

.radio-label input[type='radio'] {
  display: none;
}

.radio-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 60%;
  background-color: #232f3b;
  border: 1px solid #232f3b;
  margin-right: 11px;
  cursor: pointer;
  margin-top: 6%;
}

.radio-circle:hover {
  background-color: hsl(25, 97%, 53%);
  color: #fff;
}

input:checked + .radio-circle {
  background-color: #999;
  color: #fff;
  border: solid #1c232d;
}

button {
  border-radius: 20px;
  width: 300px;
  height: 40px;
  background-color: hsl(25, 97%, 53%);
  color: #fff;
  margin-top: 8%;
  border: solid #1c232d;
}

button:hover {
  cursor: pointer;
  background-color: #fff;
  color: hsl(25, 97%, 53%);
  border-radius: 20px;
  width: 300px;
  height: 40px;
  border: solid #1c232d;
}

#card2 {
  width: 270px;
  height: 290px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #1c232d;
  border-radius: 20px;
  background-color: #1c232d;
}

#img2 {
  margin-left: 58px;
}

#selectedButton {
  display: flex;
  font-family: 'Overpass', sans-serif;
  font-size: 12px;
  color: #b55f1a;
  background-color: #262f38;
  border-radius: 20px;
  width: 55%;
  height: 25px;
  margin-left: 60px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#hdos {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-size: 22px;
  color: #fff;
}

#p2 {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-size: 12px;
  color: #7f8591;
}
